<!DOCTYPE html>
<html>
<head>
  
 
<title>Comprobar selección de instructor</title>
</head>
<body>
  
 
<h1>Comprobar selección de instructor</h1>

<label for="n">Nombre:</label>
  
 
<select id="n">
    
<option value="0">Jeniffer</option>
   
<option value="1">Tatiana</option>
    
<option value="2">Uldarico</option>

<option value="3">Jonathan</option>

</select>
<br>
<label for="a">Apellido:</label>
  
 
<select id="a">
 
<option value="0">Fajardo</option>
    
<option value="1">Cabrera</option>
    
<option value="2">Hernandez</option>
    
<option value="3">Rivera</option>
  
 
</select>
  <br>
<label for="ac">Actividad:</label>
  
 
<select id="ac">
 
<option value="0">JavaScript</option>
    
<option value="1">Java</option>
    
<option value="2">Python</option>
    
<option value="3">BD</option>
 
</select>
<br>
<button onclick="comprobarSeleccion()">Comprobar</button>

<p id="resultado"></p>
<script type="text/JavaScript" src="../Assets/JAVA/ej4.js"></script>
</body>
</html>