<html lang="es" lang="¿?">
<head>
    <title>Menu</title>
    <link rel="stylesheet" href="../Assets/CSS/style_index.css">
</head>

<body>
    <header>
    </header>

    <main>
       <form>
        <div class="login-form">
            <h1>Retos</h1>
            <button class="index-button" onclick="">Reto 1</button>
            <button class="index-button" onclick="">Reto 2</button>
            <button class="index-button" onclick="">Reto 3</button>
        </div> 
       </form>
    </main>
</body>
</html>